- model_instance = model_instance_for(controller)
= simple_form_for [BootstrapAdmin.admin_namespace, model_instance] do |f|
  = f.error_notification

  = render "form_fields", :form => f

  .actions
    = yield :actions
    = link_to :back, [BootstrapAdmin.admin_namespace, collection_name_for(controller)], :class => 'btn'
