- collection = collection_for controller

%table.table{:class => BootstrapAdmin.ui_styles[:index]}
  %thead
    %tr
      - attributes.each do |attribute|
        %th= attribute.human_name
      %th= t(:actions)

  %tbody
    - collection.each do |item|
      %tr
        - attributes.each do |attribute|
          %td= render_field item, attribute.to_s
        %td.actions
          = link_to :show, [BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :edit, [:edit, BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :destroy, [BootstrapAdmin.admin_namespace, item], :confirm => t(:confirm), :method => :delete, :class => 'btn btn-danger'
