- collection = collection_for controller

%table.table.table-bordered.table-striped
  %thead
    %tr
      - attributes.each do |attribute|
        %th= attribute.human_name
      %th.actions= t(:actions)
  %tbody
    - collection.each do |item|
      %tr
        - attributes.each do |attribute|
          %td= item.send attribute.name
        %td.actions
          = link_to :show, [BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :edit, [:edit, BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :destroy, [BootstrapAdmin.admin_namespace, item], :confirm => t(:confirm), :method => :delete, :class => 'btn btn-danger'
