- collection = collection_for controller

%table.table.table-bordered.table-striped
  %thead
    %tr
      - attributes.each do |attribute|
        %th= attribute.human_name
      %th= t(:Actions)

  %tbody
    - collection.each do |item|
      %tr
        - attributes.each do |attribute|
          %td= item.send attribute.name
        %td.actions
          = link_to :Show, [BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :Edit, [:edit, BootstrapAdmin.admin_namespace, item], :class => 'btn'
          = link_to :Destroy, [BootstrapAdmin.admin_namespace, item], :confirm => t(:Confirm), :method => :delete, :class => 'btn btn-danger'
