- model_klass = model_for(controller)
- model_name  = model_name_for(controller)

%h1= t :Listing, :elem => model_klass.model_name.human.pluralize

= render_searchbox
= render "index"
= render_paginator @paginator
.clear_both

.actions
  = link_to [:new, model_klass], [:new, BootstrapAdmin.admin_namespace, model_name], :class => 'btn btn-primary'
