!!!
%html
  %head
    %title= t :app_name
    = stylesheet_link_tag BootstrapAdmin.admin_namespace, :media => "all"
    = csrf_meta_tags
    = yield :stylesheets
    = yield :javascript_top
  %body
    = render "admin/shared/navigation"
    = render "admin/shared/flash_area"

    .container.content= yield

    = javascript_include_tag BootstrapAdmin.admin_namespace
    = yield :javascript_bottom
